$default_font: 'Roboto', 'sans-serif';

#mainContainer{
    padding: 0!important;
}

#first{
    width: 20%;
    background-color: #1845ad;
    min-height: 100vh;
}

#second{
    width: 80%;
}

#sidebarLinkMain{
    color: rgb(189, 188, 188);
    padding: 10px;
    font-family: $default_font;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 15px
}

#sidebarLinkMain li{
    padding: 12px 10px;
    cursor: pointer;
    box-sizing: content-box;
    border: 3px solid transparent;
    color: rgba(255, 255, 255, 0.863);
}

#sidebarLinkMain a{
    text-decoration: none;
}

#sidebarLinkMain li:hover{
    border-color:rgb(28, 135, 185);
    border-radius: 5px;
    background-color: rgba(17, 163, 231, 0.438);
}
#modal_site_images_container > div{
    cursor: pointer;
    transition: 0.5s;
    border: 3px solid rgb(192, 188, 188);
}

#modal_site_images_container > div:hover{
    border-color: rgba(17, 137, 206, 0.904)!important;
    background-color: rgba(126, 190, 226, 0.493);
}


#floating-action-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 23px;
    border-radius: 10px;
    background: #00bcd496;
    border: none;
    font-weight: 800;
    color: #000000b5;
}